.listRow {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

@media (max-width: 768px) {
  .listRow {
    padding: 1.25rem 0;
  }
}
