.container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-color 0.2s ease;
  background-color: #162428;
}

@media (min-width: 768px) {
  .container {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
  }
}

.containerTop {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

.containerBottom {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 1rem;
}

.avatarContainer {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  flex: 1;
  min-width: 0;
}

.username {
  font-size: 0.875rem;
  font-weight: 600;
  color: #dbdde0;
  /*margin-bottom: 0.25rem;*/
}

span.title {
  font-weight: 500;
}

.messageContent {
  font-size: 0.875rem;
  color: #dbdde0;
  line-height: 1.375rem;
}

p .messageContent {
  margin-bottom: 0;
}
