.container {
  border-radius: 2.5rem;
  margin-bottom: 1.5rem;
}

.navigation {
  list-style: none;
  padding: 1.5rem;
}

.navigation li {
  margin-right: 0.5rem;
}

.link {
  background-color: var(--ifm-code-background);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
