.InlineCta {
  background-color: #f6f8fa;
}

[data-theme="dark"] .InlineCta {
  background-color: #142229;
}

.ContainerWidth {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .ContainerWidth {
    max-width: 38rem; /* xl equivalent */
  }
}
