.InlineCta {
  background-color: #f6f8fa;
}

[data-theme="dark"] .InlineCta {
  background-color: #142229;
}

@media (min-width: 1536px) {
  .InlineCta {
    max-width: 48rem; /* 3xl equivalent */
  }
}
