.title {
  font-size: 1.5rem;
}

.titleBlogPostPage {
  font-size: 2rem;
}

.titleImage {
  margin-bottom: 1rem;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 1rem;
  }
}
